<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - MaruhanHomepage</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="maruhanModule">

    <nav class="visible-xs">
        <span class="glyphicon glyphicon-align-justify btn-lg navIcon" data-toggle="collapse" data-target="#menuList" aria-expanded="false" aria-controls="menuList"></span>
        <div ng-controller="menuController" class="collapse" id="menuList">
            <button class="btn btn-default btn-sm" ng-click="go($event, 'Index')">메인</button>
            <button class="btn btn-default btn-sm" ng-click="go($event, 'Profile')">정보</button>
            <button class="btn btn-default btn-sm" ng-click="go($event, 'Diary')">일기</button>
            <button class="btn btn-default btn-sm" ng-click="go($event, 'Illust')">그림</button>
            <button class="btn btn-default btn-sm" ng-click="go($event, 'Schedule')">일정</button>
            <button class="btn btn-default btn-sm" ng-click="go($event, 'Wallet')">지갑</button>
            <button class="btn btn-default btn-sm" ng-click="go($event, 'Visitor')">방문</button>
        </div>
    </nav>
    <header ng-controller="menuController" class="hidden-xs">
        <h2>마루한의 자의누리</h2>
        <button class="btn btn-primary" ng-click="go($event, 'Index')">홈</button>
        <button class="btn btn-primary" ng-click="go($event, 'Profile')">프로필</button>
        <button class="btn btn-primary" ng-click="go($event, 'Diary')">다이어리</button>
        <button class="btn btn-primary" ng-click="go($event, 'Illust')">일러스트</button>
        <button class="btn btn-primary" ng-click="go($event, 'Schedule')">스케쥴</button>
        <button class="btn btn-primary" ng-click="go($event, 'Wallet')">지갑</button>
        <button class="btn btn-primary" ng-click="go($event, 'Visitor')">방명록</button>
    </header>

    <content>
        <div class="container">
            @RenderBody()
        </div>
    </content>

    <footer class="hidden-xs">
        <p>&copy; 2017 - MaruhanHomepage</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/site.js"></script>
</body>
</html>
